<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.grafandreas.org/datalang/Csl"
			class = "org.grafandreas.datalang.csl.CslPackage"
			genModel = "model/generated/Csl.genmodel" />
	</extension>
</plugin>
